
<section id="adventure-bg" class="container">

    <div class="row-fluid">
     
        <h1></h1>

        <div class="user-profile">
            <%=image_tag("greg-w.png", :class => 'greg-w')%>
            <h2><%= @user.first_name %><%= @user.last_name %><br /></h2>
            <%= @user.bio_text %><br />
            <%= image_tag @user.avatar.url(:thumb) %>
<!--             <p class="email-user"><%#= @user.email %><br /></p>
 -->

    <%#= link_to "Upload photo", new_user_photo_path(@user) %>

                <% @user.photos.each do |p| %>
                    <%#= image_tag p.image.url(:medium) %>
              
                <% end %>
          </div>
               
          

    </div>
</section>
  

      
  




